body{

	background: url(im1.jpg) ;
	background-size: cover;
	font-family: Arial;
	color: white; 
}
header{
	width: 100%;
	z-index: 10;
	position: fixed;
}

#banner{
	opacity: .5;
    width: 100%;
	height: 400px;
	position: fixed;
	top: 100px;
	background:gray;

}
#content{
	opacity: .9;
	width: 100%;
	height: 400px;
	position: relative;
	top: 400px;
	background:purple;
}
#content2{
	opacity: .9;
	width: 100%;
	height: 300px;
	position: relative;
	top: 400px;
	background:green;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
class:ab{
	width: 150px;
}
ul li{
	float: left;
	width: 150px;
	height: 40px;
	background-color: black; 
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	margin: 2px;
}

ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover{
	background-color: green;
}

ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}